body {
	background-image: url('images/concrete_seamless.png'); 
}
header {
	text-align: center;
}
.btn {
	display: block;
	clear:left;
	padding: 5px 20px;
  margin-bottom: 10px;
  font-size: 30px;
}
.btn-danger {
	color: #EDEDED;
}
div {
	display: inline-block;
	padding-right: 1%;
	padding-bottom: 1%;
}
img {
	height: 110px;
	width:110px;
}
.container-fluid, .row-fluid {
	padding: 0;
}